<h1>You chose <%= PLAYER.choice.to_s.capitalize %></h1>

<h1>Your opponent chose <%= OPPONENT.choice.to_s.capitalize%></h1>

<%if GAME.draw? == true%>
<h2> DRAW!</h2>
<%elsif GAME.winner == "Opponent" %>
<h2> You lost!</h2>
<%elsif GAME.winner == PLAYER.name%>
<h2> You won!</h2>
<%end%>

<form action="/play_again" method="post">
<input type="submit" value="Play again!">
</form>